<%- include("partials/header.ejs") %>
  <a href="/blogs">← Back to Blogs</a>
  <hr>
  <h1><%= blog.title %></h1>
  <img src="<%= blog.image %>" alt="blog image" class="img-fluid mb-4">
  <p><small>Published on: <%= blog.date %></small></p>
  <div><%= blog.content %></div>
<%- include("partials/footer.ejs") %>